<% if user_signed_in? %> <!--ログインしている時のナビバーの表示-->
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary ">
  <%= link_to image_tag("yanbaru_expert_logo.png"),"http://localhost:3000" %>
  <!--トグル-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav"> <!--折りたたみプラグイン設定-->
    <ul class="navbar-nav">



      <li class="nav-item active dropdown">
       <%= link_to "Ruby", "#", class: "nav-link dropdown-toggle",id:"navbarDropdownMenuLink" ,'data-toggle': :dropdown, 'aria-haspopup': :'true', 'aria-expanded': :'false', 'id': :'header-profile' %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Ruby/Railsテキスト教材", "http://localhost:3000/texts", class: "dropdown-item" %>
          <%= link_to "Ruby/Rails動画教材", "http://localhost:3000/movies", class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item active dropdown">
        <%= link_to "PHP", "#", class: "nav-link dropdown-toggle",id:"navbarDropdownMenuLink" ,'data-toggle': :dropdown, 'aria-haspopup': :'true', 'aria-expanded': :'false', 'id': :'header-profile' %>
         <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "PHPテキスト教材",texts_path(genre: "php"), class: "dropdown-item" %>
          <%= link_to "PHP動画教材",movies_path(genre: "php"), class: "dropdown-item" %>
         </div>
      </li>
      <li class="nav-item active">
      <%= link_to "アカウント編集", edit_user_registration_path,class:"nav-link" %>
      </li>
      <li class="nav-item active">
      <%= link_to "ログアウト", destroy_user_session_path,method: :delete,data: {confirm: "ログアウトしますか？"}, class:"nav-link" %>
      </li>
    </ul>
  </div>
</nav>
  
  
<% else %>
<!--ログインしていない時のナビバーの表示-->
<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <%= image_tag("yanbaru_expert_logo.png")  %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav"> <!--折りたたみプラグイン設定-->
    <ul class="navbar-nav">
      <li class="nav-item active dropdown">
       <%= link_to "Ruby", "#", class: "nav-link dropdown-toggle" %>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Ruby/Railsテキスト教材", "http://localhost:3000/texts", class: "dropdown-item" %>
          <%= link_to "Ruby/Rails動画教材", "http://localhost:3000/movies", class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item active dropdown">
        <%= link_to "PHP", "#", class: "nav-link dropdown-toggle"%>
         <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Ruby/Railsテキスト教材",texts_path(genre: "php"), class: "dropdown-item" %>
          <%= link_to "Ruby/Rails動画教材",movies_path(genre: "php"), class: "dropdown-item" %>
         </div>
      </li>
      <li class="nav-item active">
      <%= link_to "新規登録", new_user_registration_path,class:"nav-link" %>
      </li>
      <li class="nav-item active">
      <%= link_to "ログイン", new_user_session_path,class:"nav-link" %>
      </li>
    </ul>
  </div>
</nav>
<% end %>

